<html>
<head>
  <div class="header">
 <h1>Родительство</h1>
  <p>Семейное воспитание</p>
  </div>
  <div class="bang">
    <a href="index92">О нас</a>
  <a class="right" href="/">На главную</a>
    <a class="right" href="profile">Аккаунт</a>
  </div>
    <div class="main">
    <h2 class="text1">Семейное воспитание</h2>
     <pre class="text2"><p>Добро пожаловать на наш сайт, где мы делимся советами по воспитанию детей любых возрастов! Мы знаем, что воспитание детей - это непростая задача, но мы здесь, чтобы помочь вам. На нашем сайте вы найдете полезные статьи и советы от экспертов, которые помогут вам стать лучшим родителем.
     <p><div class=img><img src="{{ url_for('static', filename='images/1photo.jpg') }}"></div></p>
      </div>
<div class="bang1">
    <a href="index93">Смотреть статьи</a>
    </div>
  <div class="footer">
    <h2>© Все права защищены ООО "Родительство" </h2>
<link rel="stylesheet" href="/static/index91.css" />
</head>
<body>
  
</body>
</html>