<html>
<head>
  <div class="header">
 <h1>Родительство</h1>
  <p>Семейное воспитание</p>
  </div>
  <div class="bang">
    <a href="index92">О нас</a>
  <a class="right" href="index91">На главную</a>
  </div>
    <div class="main">
    <h2 class="text1">Детское воровство</h2>
     <pre class="text2"><p><h2>1-3 года</h2>В этом возрасте у малышей отсутствуют моральные и нравственные ориентиры. Дети полагаются на свои эмоции и желания: Хочу, чтобы это было мое. Хотя понятия «мое» и «чужое» у малышей как раз отсутствует, ребенок имеет размытое представление о том, что чужое нельзя трогать.

<h3>Решение:</h3><li>Забирайте чужие вещи и игрушки из рук малыша и отдавайте владельцу, терпеливо объясняя, что эта вещь не его, а брать чужое плохо. В этом возрасте родители закладывают понимание того, что есть хорошие поступки, а есть плохие.</li>
<li>Учите малыша отстаивать свои границы, проговаривайте, что у него есть свои игрушки, которые никто не может брать без разрешения, а есть чужие, и если в них хочется поиграть, следует спрашивать разрешения у хозяина вещи.</li>
<li>Объясняйте ребенку, что у каждого человека есть свои вещи, мамин телефон трогать нельзя, игрушки Саши с детской площадки тоже, потому что он обидится, будет плакать, что их берут без спроса.</li>
<li>В этом возрасте родителям необходимо проявлять твердость, начните с вещей, которые принадлежат родителям, покажите ребенку наглядно, что вы не берете папины вещи, или вещи брата/сестры, потому что они дороги людям. Объясните обратную ситуацию, что будет, если игрушку ребенка заберет другой ребенок, что он почувствует.
Ни в коем случае не называйте ребенка «воришкой».</li>
<h2>4-6 лет</h2>
Ребенок может находиться во власти своих эмоций, воля еще не сформирована. Детям этого возраста бывает сложно сказать себе «нет», если они что-то хотят получить. При этом ребенок может чувствовать стыд за свой поступок и понимать, что за это будут последствия.

<h3>Решение:</h3>
<li>Ребенку нужно развивать волю, учите его принимать решения, ставить определенные цели, но обязательно проговаривайте, что нужно для их реализации. Например: «Ты хочешь эту игрушку, давай будем копить на нее деньги, в эту банку ты будешь класть деньги, которые мы с папой будем тебе давать за выполнение определенных заданий.»</li>
<li>Спрашивайте ребенка о его желаниях, позволяйте ему проявлять инициативу при выборе, давайте свободу и развивайте самостоятельность в ежедневных вещах. Таким образом, ребенок научится контролировать себя, в каких-то моментах сдерживаться, чтобы достичь цели.</li>
<h2>Младший школьный возраст (7-10 лет)</h2>
С того момента, как ребенок начинает ходить в школу, начинается новая глава в его жизни, именуемая социальной жизнью. Ребенок испытывает потребность в том, чтобы влиться в компанию, начинает искать одобрения, популярности. Кроме того, что психика ребенка заметно меняется в это время, он начинает паясничать, появляются необычные привычки в поведении, скопированные у одноклассников. В этом возрасте ребенок может начать воровать. Причинами воровства денег у родителей может быть желание угодить друзьям, поднять свой авторитет, купив всем конфет или купить желаемое, чтобы не отставать от других. Так же возможно воровство из мести, украсть что-то у обидчика, втайне радуясь, что одноклассник получил по заслугам.

<h3>Решение:</h3>
<li>Расскажите ребенку, что такое дружба, как можно подружиться с кем-то в коллективе.</li>
<li>Понаблюдайте за ребенком, может быть причина кроется в его низкой самооценке, в низких навыках социального поведения, желании доказать что-то кому-то, выделиться, чтобы ребенка заметили. Объясните ребенку, что дружат не за что-то, не потому, что у кого-то последняя модель телефона или новая одежда, а потому, что человек интересный, с ним весело, ему можно доверять и он надежный.</li>
<li>Если причина воровства – месть и вредительство, следует с ребенком поговорить о причине конфликта, помогите ему решить этот конфликт не с помощью плохого поступка, а с помощью слов.</li>
<h2>Воровство у подростков (12-16 лет)</h2>
Если у малышей воровство – шаг скорее неосознанный, в подростковом возрасте воровство уже спланированная и осознанная акция. Особенно опасно, если эпизоды воровства повторяются. В этот период подростки совершают кражи «на спор», например, унести что-то из магазина, оставшись незамеченным, украсть со стола учителя какой-то предмет или выкрасть у одноклассника что-то ценное. Очень часто подростка подначивают так называемые «друзья», а чтобы не стать изгоем, ребенок вынужденно совершает все то, о чем его попросят, чтобы быть своим или быть популярным. Однако, следует помнить, что здесь последствия могут быть посерьезнее, не только моральные, но и правовые.

<h3>Решение:</h3>
<li>Подумайте, что могло стать триггером для данного поступка, возможно неблагополучная семейная ситуация, ваше отношение к ребенку, какие-то пробелы в воспитании.</li>
<li>Посмотрите на себя и свое воспитание со стороны, не исключая, что может быть был какой-то пробел или проблема в прошлом, которая могла повлиять на поведение подростка сейчас.</li>
<li>Четко объясните, что это уже «кража», которая карается законом.</li>
<li>При разговоре с ребенком не стоит излишне эмоционально вести себя, ваше агрессивное поведение и слова напугают подростка, но лишь таким образом, что он просто закроется и больше не будет вам ничего говорить или объяснять, чтобы не навлечь гнева. Говорите спокойно.</li>
<li>Расскажите ребенку о переживаниях второй стороны: «Представляешь, что он/она чувствует, как это мерзко и противно, когда твою вещь забирают, владеют те, кто не имеет на нее никакого права»</li>
<li>Не ругайте ребенка в присутствии третьих лиц, делайте это с глазу на глаз.</li>
<li>Не возвращайтесь к этой теме, если вы ее обсудили, решили и закрыли. Ваши частые разговоры о том, что было лишь закрепят этот опыт в сознании ребенка.</li>
<li>Не называйте ребенка «вором», не навешивайте ярлыки, но обрисуйте ситуацию со стороны и спросите ребенка, кем он является в данной ситуации.</li>
<li>Громкие фразы «Как ты мог/могла?» и «Ты подумал о родителях» оставьте, они все равно не работают, здесь нужно задавать конкретные вопросы «Почему ты это сделал/а».</li>
      </div>
      <div id="sigCommentsBlock"></div>
      <script type="text/javascript">
        (function(){
          var host_id = '7332';
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.async = true;
          script.src = '//sigcomments.com/chat/?host_id='+host_id;
          var ss = document.getElementsByTagName('script')[0]; 
          ss.parentNode.insertBefore(script, ss);
        })();
      </script>
<div class="bang1">
    <a href="index91">На главную</a>
  <a class="right" href="index94">Следующая статья</a>
    </div>
  <div class="footer">
    <h2>© Все права защищены ООО "Родительство" </h2>
    <link rel="stylesheet" href="/static/index93.css" />
</head>
<body>
  
</body>
</html>