<html>
<head>
  <div class="header">
 <h1>Родительство</h1>
  <p>О нас</p>
  </div>
  <div class="bang">
  <a class="right" href="/">На главную</a>
  </div>
    <div class="main">
    <h1 class="text1">Контактная информация</h1>
     <pre class="text2"><pre>
     
&#127760; Кемерово, ул. Советская, дом 42
&#128222; +7(3842)73-42-57
&#128231; roditelstvo@kmrv.ru </pre>
      </div>
    </div>
  <div class="footer">
    <h2>© Все права защищены ООО "Родительство" </h2>
    <link rel="stylesheet" href="/static/index92.css" />
</head>
<body>
  
</body>
</html>