<html>
<head>
  <div class="header">
 <h1>Родительство</h1>
  <p>Семейное воспитание</p>
  </div>
  <div class="bang">
    <a href="index92">О нас</a>
  <a class="right" href="/">На главную</a>
  </div>
    <div class="main">
      <div class="text2" style="height: 400px">
      <p style="text-align: center;">Пожалуйста, <a href="{{ url_for('login') }}">войдите</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a> для просмотра статей и возможности оставлять комментарии.</p>
    </div>
      </div>
    </div>
  <div class="footer">
    <h2>© Все права защищены ООО "Родительство" </h2>
    <link rel="stylesheet" href="/static/index93.css" />
</head>
<body>
  
</body>
</html>