<html>
<head>
  <div class="header">
 <h1>Родительство</h1>
  <p>Семейное воспитание</p>
  </div>
  <div class="bang">
    <a href="index92">О нас</a>
  <a class="right" href="/">На главную</a>
  </div>
    <div class="main">
      <div class="text2" style="height: 400px">
      <h1 style="text-align: center;">Статей больше нет</h1>
      <h2 style="text-align: center;">Предложите свою статью</h2>
      <h2 style="text-align: center;">roditelstvo@kmrv.ru</h2>
    </div>
      </div>
    </div>
  <div class="footer">
    <h2>© Все права защищены ООО "Родительство" </h2>
    <link rel="stylesheet" href="/static/index93.css" />
</head>
<body>
  
</body>
</html>